In [23]:
import pandas
dfs = pandas.read_html('https://rate.bot.com.tw/cr?Lang=zh-TW')

In [17]:
type(dfs)

list

In [8]:
dfs[0]

             幣別                    活期(年息%)                    定期存款 (年息%)  \
             幣別 Unnamed: 1_level_1 活期(年息%) Unnamed: 3_level_1        7 天
0      美金 (USD)               0.05   0.150              0.150      0.150
1   美金 (USD) 大額                  -   0.150              0.150      0.150
2      港幣 (HKD)               0.05   0.100              0.100      0.100
3      英鎊 (GBP)               0.05   0.080              0.080      0.080
4      澳幣 (AUD)               0.05   0.150              0.150      0.150
5    加拿大幣 (CAD)                0.1   0.150              0.150      0.150
6    新加坡幣 (SGD)               0.05   0.100              0.100      0.100
7    瑞士法郎 (CHF)              0.001   0.001              0.001      0.001
8      日圓 (JPY)              0.001   0.001              0.001      0.001
9     南非幣 (ZAR)                0.8   1.800              1.800      1.800
10    瑞典幣 (SEK)              0.001   0.001              0.001      0.001
11     紐元 (NZD)               0.05   0.200              0.200      0.200
12     歐元 (EUR)              0.001   0.001              0.001      0.001
13    人民幣 (CNY)                0.3   0.550              0.550      0.550


     14 天   21 天   1 個月   3 個月   6 個月 9 個月 1 年
0   0.250  0.350  0.450  0.500  0.550  NaN NaN
1   0.300  0.400  0.500  0.550  0.600  NaN NaN
2   0.200  0.300  0.400  0.450  0.550  NaN NaN
3   0.100  0.150  0.150  0.150  0.200  NaN NaN
4   0.250  0.350  0.450  0.500  0.550  NaN NaN
5   0.350  0.400  0.450  0.450  0.500  NaN NaN
6   0.100  0.150  0.200  0.300  0.300  NaN NaN
7   0.001  0.001  0.001  0.001  0.001  NaN NaN
8   0.001  0.001  0.001  0.001  0.002  NaN NaN
9   3.200  3.200  3.000  3.000  3.000  NaN NaN
10  0.001  0.001  0.001  0.001  0.001  NaN NaN
11  0.300  0.400  0.500  0.550  0.600  NaN NaN
12  0.001  0.001  0.001  0.001  0.002  NaN NaN
13  1.150  1.250  1.500  1.500  1.500  NaN NaN

In [9]:
money = dfs[0]
type(money)

pandas.core.frame.DataFrame

In [14]:
money.ix [:,0:2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [18]:
dfs[0]

           幣別  結帳匯率 (NTD)        幣別.1  結帳匯率 (NTD).1
0    美金 (USD)     29.9900    港幣 (HKD)        3.8680
1    英鎊 (GBP)     36.9800    澳幣 (AUD)       19.9050
2  加拿大幣 (CAD)     21.7800  新加坡幣 (SGD)       21.1900
3  瑞士法郎 (CHF)     31.1250    日圓 (JPY)        0.2792
4   南非幣 (ZAR)      1.7140   瑞典幣 (SEK)        3.1600
5    紐元 (NZD)     18.6000    泰幣 (THB)        0.9470
6  菲國比索 (PHP)      0.5928   印尼幣 (IDR)        0.0020
7    歐元 (EUR)     33.2500    韓元 (KRW)        0.0242
8   越南盾 (VND)      0.0013   馬來幣 (MYR)        6.8950
9   人民幣 (CNY)      4.1850         NaN           NaN

In [20]:
money.ix[:,0:2]

AttributeError: 'DataFrame' object has no attribute 'ix'